.form__input{
  margin-bottom: 1.5rem;
  width: 100%;
  display: block;
  padding: .5rem;
  border-radius: .3rem;
  border: 1px solid #005D82;
  color: #005D82;
}

.form__button{
  padding: .5rem 1.5rem;
  margin-left: auto;
  display: block;
  border-radius: .3rem;
}